<div class="user-profile">
  <h1>Thông Tin Cá Nhân</h1>
  <div class="profile-container">
    <table class="profile-table">
      <tr>
        <th>ID</th>
        <td>{{ user.id }}</td>
      </tr>
      <tr>
        <th>Họ và Tên</th>
        <td>{{ user.fullName }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Ngày Sinh</th>
        <td>{{ user.dob }}</td>
      </tr>
      <tr>
        <th>Địa Chỉ</th>
        <td>{{ user.address }}</td>
      </tr>
    </table>
  </div>
</div>
